
<div class="social-buttons mb-2">
  <div class="social-buttons__twitter">
    <a class="twitter-share-button" href="https://twitter.com/intent/tweet?via=nicolasvanhoren">Tweet</a>
  </div>
  <div class="social_buttons__reddit">
    <a href="//www.reddit.com/submit" onclick="window.location = '//www.reddit.com/submit?url=' + encodeURIComponent(window.location) + '&title={{ page.title | url_encode }}'; return false">
      <img src="//www.redditstatic.com/spreddit7.gif" alt="submit to reddit" border="0" />
    </a>
  </div>
</div>
