
.article {
  @extend .border;
  @extend .pt-3;
  @extend .pr-3;
  @extend .pl-3;
  @extend .bg-white;
}

body {
  background-size: cover;
  /*background-repeat: no-repeat;
  background-position: center;
  background-clip: border-box;
  background-origin: border-box;*/
  background-attachment: fixed;
}

.post-image {
  height: 230px;

  img {
    object-fit: cover;
    object-position: center top;
    width: 100%;
    height: 100%;
  }
}

.social-buttons {
  display: flex;
  align-items: center;
  align-content: center;

  > div {
    align-self: center;
    padding-left: 10px;
    &:first-child {
      padding-left: 0px;
    }
  }

  .social-buttons__twitter {
    height: 20px;
  }

  .social_buttons__reddit {
    height: 20px;
    > * {
      margin-top: -4px;
      display: block;
    }
  }
}
