---
layout: default
---
<article class="article">

  <header>
    <h1>{{ page.title | escape }}</h1>
    {%- if page.image -%}
    <div class="post-image mb-3">
      <img src="{{ page.image | relative_url }}">
    </div>
    {%- endif %}
    <p class="text-muted">
      <time datetime="{{ page.date | date_to_xmlschema }}">
        {%- assign date_format = "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • {{ page.author }}
      {%- endif -%}
    </p>
  </header>

  <div class="mb-2">
    {% include social_buttons.html %}
  </div>

  <section>
    {{ content }}
  </section>

  <footer>
    {% include disqus.html %}
  </footer>

</article>
